include rust/Cargo.toml
include rust/Cargo.lock
include rust/build.rs
recursive-include rust/src/ *.rs
include rust/vendor/README.md
include rust/vendor/py-spy/Cargo.toml
include rust/vendor/py-spy/LICENSE
recursive-include rust/vendor/py-spy/src/ *.rs
include rust/vendor/remoteprocess/Cargo.toml
include rust/vendor/remoteprocess/LICENSE
recursive-include rust/vendor/remoteprocess/src/ *.rs
include rust/include/pyroscope_ffi.h
include cpp/CMakeLists.txt
include cpp/BundleStaticLibrary.cmake
recursive-include cpp/ *.h
recursive-include cpp/ *.cpp
recursive-include cpp/ *.hpp
